{deps, [
	{deckerl, ".*",
         {git, "https://github.com/SimonUnge/deckerl", "master"}},
        {patience_game, ".*",
         {git, "https://github.com/SimonUnge/patience", "master"}}
       ]}.
{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{erl_opts, [{i, "include"}]}.
{ct_dir, "ct"}.
